<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Flowers Shop</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/flowers/stylesOne.css') }}">
    <!-- This is a link for fonts-->
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />

</head>
<body>
    <section id="header">
        <a href="#"> 
            <img src="img/ForFlowers-removebg.png" alt="Logo" class="logo"/>
        </a>
        <div>
            <ul id="navbar">
                <li><a href="{{ url_for('webpages.home') }}">Home</a></li>
            </ul>
        </div>

    </section>
    

    <!-- This is the products section-->
    <section id="product1" class="section-p1">
        <h2>Featured Products</h2>
        <p>Modern Fall Collection </p>
        <div class="pro-container">
            <div class="pro">
                <img src="img\bouquet1.png" alt="" />
                <div class="des">
                    <span>Cream / Faint</span>
                    <h5>Bridal Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$60.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Offers a variety of flowers with all types of coloring. Collected from
                    Westchester.
                </span>
            </div>
            <div class="pro">
                <img src="img/tulips-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Cherry Red</span>
                    <h5>Tulip Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$40.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Offers flashy red tulips coupled by hand crafted wrapping and carefully
                    constructed arrangements in a uniformly made fashion. Collected from 
                    Sleepy Hollow.
                </span>
            
            </div>
            <div class="pro">
                <img src="img/roses-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Elegant / Classic</span>
                    <h5>Red Roses Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$140.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    What more can be said than the classic 'Red Roses'. Collected in Westchester.
                </span>
            </div>
            <div class="pro">
                <img src="img/Grande-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Autumn Grande</span>
                    <h5> Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$182.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Offers grandiose package for a grandiose person. Nothing less, nothing more, collected 
                    from White-Plains, Dobbs Ferry and Westchester.
                </span>
            </div>
            
        </div>
    </section>

    <!-- products 2-->
    <section id="product1" class="section-p1">
        <div class="pro-container">
            <div class="pro">
                <img src="img/flowers/flower2Fall-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Orangey</span>
                    <h5>Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$40.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Simple as it is orange, refresh the home with a fresh breath of air. Originated in 
                    Westchester.
                </span>
            </div>
            <div class="pro">
                <img src="img/flowers/flower3Fall-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Sun-Flower Mixer</span>
                    <h5>Medium Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                     
                    </div>
                    <h4>$85.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    An unpopular batch, however it is a swiss army knife. It is highly versatile and 
                    can be used for any occasion. A mix of sunflowers and daisies, 
                    this bouquet will make your room look bright. Collected in Westchester.
                </span>
            
            </div>
            <div class="pro">
                <img src="img/flowers/flower4Fall-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Violet</span>
                    <h5>Small Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$30.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Given the nature of the color purple, you can't go wrong with a combination.
                    Collected in Throggs Neck.
                </span>

            </div>
            
            <div class="pro">
                <img src="img/flowers/flower5Fall-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Vile Lime</span>
                    <h5>Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$45.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Despite green being our sole product line, in the realms of fashion, it is depised. And yet, 
                    such a vile permutation, so dull and aching, and lifeless. And yet, it remains our most popular options.
                    It has that gritty tone in an over-saturated environment, it shows the reality of both worlds, green and human.
                    Collected in XXXXXXXXXXXXX, XXXXXXXXXXXX.
                </span>
            </div>
            
        </div>
    </section>

    <!-- products 2-->
    <section id="product1" class="section-p1">
        <p>Unique Winter Collection </p>
        <div class="pro-container">
            <div class="pro">
                <img src="img/flowers/flowers2Winter-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Snow-Fall</span>
                    <h5>Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$60.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <br>
                <span>
                    A light-weight combo. Originated in 
                    Westchester.
                </span>
            </div>
            <div class="pro">
                <img src="img/flowers/flower1Winter-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Winter's Finest</span>
                    <h5> Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$90.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    Offers a unique flowering coupled by hand crafted wrapping. It is sleek as it is white as snow. Collected
                    from Armonk.
                </span>
            
            </div>
            <div class="pro">
                <img src="img/flowers/flower3Winter-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Sleek</span>
                    <h5>Small Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$20.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
            </div>
            <div class="pro">
                <img src="img/flowers/flower4Winter-unsplash.jpg" alt="" />
                <div class="des">
                    <span>Light Shade</span>
                    <h5>Bouquet</h5>
                    <div class="star">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <h4>$42.00</h4>
                </div>
                <a href="#"> <i class="fal fa-shopping-cart cart"></i> </a>
                <br>
                <span>
                    It packs a punch, light with colors of royalty. Collected
                    from Armonk.
                </span>
            </div>
            
        </div>
    </section>

</body>
</html>
